
    <h1 class="ask">Ask Me</h1>
    <div class="chat">
      <p><%= @question %></p>
      <p>-You</p>
    </div>
    <div class="chat">
      <p><%= @answer %></p>
      <p>-Your coach</p>
    </div>
    <%= link_to "Ask another question", ask_path %>

