<html>
  <head>
    <title>Ask Me</title>
  </head>
  <body>
    <h1 class="ask">Ask Me</h1>
    <p>Question: <%= @question %></p>
    <p>Answer: <%= @answer %></p>
    <%= link_to "Ask another question", ask_path %>
  </body>
</html>
